mixin list(items, liclass)
    ul
        each item in items
            if (selected == item.title.toLowerCase())
                li(class=liclass)
                    a(href=item.link, class=item.class + ' ' + item.class + '__active')
                        = item.title
            else
                li(class=liclass)
                    a(href=item.link, class=item.class)
                        = item.title

nav(role='navigation')#js-top-menu.top-menu
    +list([
        {'title': 'Home', 'link': 'index.html', 'class': 'menu-link'},
        {'title': 'About us', 'link': 'about.html', 'class': 'menu-link'},
        {'title': 'Service', 'link': 'service.html', 'class': 'menu-link'},
        {'title': 'Hosting Plans', 'link': 'hosting.html', 'class': 'menu-link'},
        {'title': 'Domain', 'link': 'domain.html', 'class': 'menu-link'},
        {'title': 'Faq', 'link': 'faq.html', 'class': 'menu-link'},
        {'title': 'Testimonials', 'link': 'testimonials.html', 'class': 'menu-link'},
        {'title': 'Blog', 'link': 'blog.html', 'class': 'menu-link'},
        {'title': 'Support', 'link': 'support.html', 'class': 'menu-link'},
        {'title': 'Contact Us', 'link': 'contact.html', 'class': 'menu-link'}
    ], 'menu-item')